body{
    background-color: #061E29;
    color: #F3F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #1D546D;
    padding: 25px;
    border: 2px solid white;
    border-radius: 20px;
}
.container{
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}
#Countdown{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;    
}
h1{
    font-size: 2em;
    margin-bottom: 1em;
}

#Countdown div{
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
#Countdown div span{
    color: black;
    font-weight: 1000;
}

h2{
    font-size: 1.5em;
    margin-bottom: 1em;
}
.Progress-container{
    background-color: white;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    margin-bottom: 1.5em;
}
#Progress-bar{
    background-color: greenyellow;
    width: 0%;
    height: 100%;
    border-radius: 5px;
    transition: width 1s ease-in-out;
}